<div class="nav-bar">

<h1>{{quiz_name}}</h1>
<br>
<a id="sign-out">Sign Out</a>
</div>


{{!-- {{#each quiz}}

<h1>Quiz Name: {{quiz_name}}</h1>

{{/each}} --}}
<br>
<form>
<ol>
 {{#each question}}
<li id={{id}}>
{{question}}

</li>
<br>
{{/each}}
</ol>
</form>

{{!-- {{#each choice}}
<h1>{{choice}}</h1>
{{/each}} --}}


<script>
$(document).ready(function(){
  getChoices();
})


function getChoices(){
$.get("/quiz/choices/{{quiz_id}}", function(data){
console.log(data);
})



}






</script>
