<div class="nav-bar">

<h1>{{quiz_name}}</h1>
<br>
<a id="sign-out">Sign Out</a>
</div>


{{!-- {{#each quiz}}

<h1>Quiz Name: {{quiz_name}}</h1>

{{/each}} --}}
<br>
<form>
<ol>
 {{#each question}}
<li >
  {{question}}
  <br>
  <div id={{id}} class="choice-div">

</div>
</li>
<br>
{{/each}}
</ol>
</form>

<button id="submit-button" class="dashboard-button">Submit</button>

{{!-- {{#each choice}}
<h1>{{choice}}</h1>
{{/each}} --}}


<script>
  var questionlist;
$(document).ready(function(){
  getChoices();
})

$("#submit-button").on("click",function(){
submitQuiz();

})

function submitQuiz(){

var useranswers=[]
questionlist.forEach(function(question){
useranswers.push(new QuestionObject(question.id,parseInt($("input[name=choice-"+question.id+"]").val())));
})

console.log(useranswers);

}


function getChoices(){
$.get("/quiz/choices/{{quiz_id}}", function(data){
console.log(data);
questionlist=data;
data.forEach(function(question){
question.Choices.forEach(function(choice){
$("#"+question.id).append("<p class='choice-div'>"+choice.choice+"</p><input id='questionchoice-"+choice.id+"' value="+choice.id+" name='choice-"+question.id+"' type='radio'>");

})


});


})



}

function QuestionObject(questionid,choiceid){
this.questionid=questionid,
this.choiceid=choiceid
}




</script>
