<div class="nav-bar">

<h1>{{quiz_name}}</h1>
<br>
<a id="sign-out">Sign Out</a>
</div>


{{!-- {{#each quiz}}

<h1>Quiz Name: {{quiz_name}}</h1>

{{/each}} --}}
<br>
<form>
<ol>
 {{#each question}}
<li >
  {{question}}
  <br>
  <div id={{id}} class="choice-div">

</div>
</li>
<br>
{{/each}}
</ol>
</form>

<button class="dashboard-button">Submit</button>

{{!-- {{#each choice}}
<h1>{{choice}}</h1>
{{/each}} --}}


<script>
$(document).ready(function(){
  getChoices();
})


function getChoices(){
$.get("/quiz/choices/{{quiz_id}}", function(data){
console.log(data);

data.forEach(function(question){
question.Choices.forEach(function(choice){
$("#"+question.id).append("<p class='choice-div'>"+choice.choice+"</p><input type='radio'>");

})


});


})



}






</script>
