<div class="nav-bar">

<h1 id="quiz-title">{{quiz_name}}</h1><br>
{{!-- <img src="/assets/images/apple.png" alt="Logo" style="width:20px;height:35px;"> --}}
<br>
<a id="sign-out">Sign Out</a>
</div>

<br>
<form id="quiz-form">
<ol>
 {{#each question}}
<li id="question-number">
  <p id="question-style">{{question}}</p>
  <div id={{id}} class="choice-div">

</div>
</li>
<br>
{{/each}}
</ol>
<button id="submit-quiz" class="dashboard-button">Submit</button>
</form>


<script>
  var questionlist;
$(document).ready(function(){
  getChoices();
})

$("#submit-button").on("click",function(){
submitQuiz();

})

function submitQuiz(){
var quizresults={}
var useranswers=[]
questionlist.forEach(function(question){
useranswers.push(new QuestionObject(question.id,parseInt($("input[name='choice-"+question.id+"']:checked").val())));
})
{{#if userid}}
quizresults.results=useranswers;
quizresults.user={{userid}};

$.post("/quiz/grade",quizresults,function(data){
console.log(data);
})


{{/if}}

console.log(useranswers);


}


function getChoices(){
$.get("/quiz/choices/{{quiz_id}}", function(data){
console.log(data);
questionlist=data;
data.forEach(function(question){
question.Choices.forEach(function(choice){
$("#"+question.id).append("<input id='questionchoice-"+choice.id+"' value="+choice.id+" name='choice-"+question.id+"' type='radio'>"+"<p class='choice-div'>"+choice.choice+"</p>"+"<br>");

      })
    });
  })
}

function QuestionObject(questionid,choiceid){
this.questionid=questionid,
this.choiceid=choiceid
}




</script>
