<div class="container">

  <h1>Add Quiz</h1>
  <h1>{{quiz_name}}</h1>

  <label>Quiz Name:</label>
  <input id="quiz-name" type="text"><br>
  <br>
<div>
  <table id="question-table">
   <tr>
    <th>Question #</th>
    <th>Question Type</th>
    <th>Question</th>
    <th># Choices</th>
    <th></th>
</tr> 

  </table>
</div>


<br>
  <button onclick="showAddQuestion()" id="showaddquiz-button" class="dashboard-button">Add Question</button>
<br>

</div>
</div>

<div class="modal">
<div class="modal-content">
<span class="close-button">&times;</span>
<h2>Add Question</h2>
 <label>Question:</label>
      <input id="question-input" type="text">
      <br>
      <div class="choice-box"> 
      </div>
    <img id="add-choice-button" src="/assets/plus-button.svg">
      <br>
      <button id="add-question-button">Save Question</button>
    </div>


  </div>
  
<br>

  {{#if id}}
  <button id="update-quiz-button" class="dashboard-button">Update Quiz</button>
  {{else}}
  <button id="save-quiz-button" class="dashboard-button">Save Quiz</button>
  {{/if}}

</div>
</div>




<script type="module" src="./sidebar.js"></script>
<script>

  var question_array = [];
  var optionsarray=[];

  $(document).ready(function(){
  getQuestions();
  getSideBar("addquiz");
  });

  function showAddQuestion(){
$(".modal").addClass("show-modal");
}

$(".close-button").on("click",function(){
  $(".modal").removeClass("show-modal");
});
  
  $("#quiz-name").val("{{quiz_name}}");

  $("#add-choice-button").on("click", function () {
 
    var option={
      choice: "choice",
      QuestionId: null,
      correct: false
    }


    optionsarray.push(option);
 
    $(".choice-box").append("<label>Option #" + (optionsarray.length) + "</label><input id='option-"+optionsarray.length+ "' type='text'><label>Is Correct?</label><input id='iscorrect-"+optionsarray.length+  "' type='checkbox' name='iscorrect' value='correct' checked><br>");
  })

  $("#save-quiz-button").on("click", function () {
    var newquiz = {
      quiz_name: $("#quiz-name").val(),
      questions:question_array
    }
    $.post("/api/addquiz", newquiz, function () {
    });
  });


  $("#update-quiz-button").on("click", function(){
    $.ajax({
  type: "PUT",
  url: "/api/updatequiz/{{id}}",
  data: {quiz_name:$("#quiz-name").val(),
  questions:question_array
  }
});
  });

  $("#add-question-button").on("click", function () {
    
    for(var i =0;i<optionsarray.length;i++){
      console.log("Choice: "+$("#option-"+(i+1)).val());
      optionsarray[i].choice=$("#option-"+(i+1)).val();
      optionsarray[i].correct=$("#iscorrect-"+(i+1)).is(':checked');
    }
   
    var question={
      question_type:"MC",
      question:$("#question-input").val(),
      choices:optionsarray,
      QuizId:1
    }
   
    addQuestion(question);
    optionsarray=[];
    $(".choice-box").empty();
    $("#question-input").val("");
  });

  function addQuestion(formdata){
    question_array.push(formdata);
    var questionid=question_array.length;
    var question=formdata.question;
    var choicenumber=formdata.choices.length;
    var questiontype=formdata.question_type;
    $("#question-table").append(`<tr id="${questionid}""><td>${questionid}</td><td>${questiontype}</td><td>${question}</td><td>${choicenumber}</td><td><img></td></tr>`);
  }

function deleteQuestion(id){

$("#"+id).remove();

$.ajax({
  type: "DELETE",
  url: "/api/deletequiz/questions/"+id
  });
}

function getQuestions(){
  {{#if id}}
$.get("/api/addquiz/questions/"+{{id}},function(data){
console.log(data)
data.forEach(function(element){
    var questionid=element.id;
    var question=element.question;
    var choicenumber=1;
    var questiontype=element.question_type;
    $("#question-table").append(`<tr id="${questionid}"><td>${questionid}</td><td>${questiontype}</td><td>${question}</td><td>${choicenumber}</td>  <td><img data-id="${questionid}" onclick="deleteQuestion(${questionid})" class="delete-button" src="/assets/delete-button.svg"></td></tr>`);
})
});
{{else}}
console.log("no id found");
{{/if}}

}
function getSideBar(view){
  console.log("gettinf sidebar");
  $.get("/sidebar/"+view,function(data){
    console.log(data);
    $(".side-bar").html(data);
    addSideBarEventListener();
  })
}

function addSideBarEventListener(){
  $("#back-button").on("click", 
  function (){
  console.log("Display Quizes");
      $.get( "/quizlist", function( data ) {
          $( "#display-stage" ).html( data );
        
          // document.getElementById("display-stage").innerHTML=data;
        });
  }
  );


    $("#users-button").on("click", 
  function (){
  $.get( "/userlist/{{id}}", function( data ) {
          $( "#display-stage" ).html( data );
          // document.getElementById("display-stage").innerHTML=data;
        });
  }
  );




   $("#preview-button").on("click", 
  function (){
  {{#if id}}
  window.location="/quiz/"+{{id}};
  {{else}}
  alert("You must save this quiz before you can preview it");
  {{/if}}
  }
  );

}

</script>