<div class="container">
<<<<<<< HEAD
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h1>Add Quiz</h1>


        <form class="clearfix mb-4" action="POST">

          <label>Quiz Name:</label>
          <input type="text"><br>
          <div class="form-group">
            <label for="quiz-category"><h4>Category:</h4></label><br>
             <input type="radio" class="quiz-category" name="category" value="educational"> Educational<br>
             <input type="radio" class="quiz-category" name="category" value="workplace"> Workplace<br>
             <input type="radio" class="quiz-category" name="category" value="fun"> Fun<br>
             <input type="radio" class="quiz-category" name="category" value="other"> Other
            {{!-- <input type="text" id="quiz-category" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text"> --}}
          </div>
          <br>
          <br>
          <div class="form-group">
            <label for="quiz-type"><h4>Quiz Type:</h4></label><br>
             <input type="radio" class="quiz-type" name="quiztype" value="t/r" > True/False<br>
             <input type="radio" class="quiz-type" name="quiztype" value="mc"> Multiple Choice<br>
            {{!-- <textarea class="form-control" id="quiz-type" aria-describedby="quiz-description" placeholder="Enter Example Description"></textarea> --}}
          </div>
          <br>
          <div class="form-group">
            <label for="quiz-description">Description</label>
            <input type="text" id="quiz-description" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Quiz:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.question}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
=======
   
      
      
        <h1>Add Quiz</h1>
          <h1>{{quiz_name}}</h1>

   

          <label>Quiz Name:</label>
          <input id="quiz-name" type="text"><br>
          <div class="form-group">
            <label for="quiz-category"><h4>Category:</h4></label><br>
             <input type="radio" class="quiz-category radio-button" name="category" value="educational"> Educational<br>
             <input type="radio" class="quiz-category radio-button" name="category" value="workplace"> Workplace<br>
             <input type="radio" class="quiz-category radio-button" name="category" value="fun"> Fun<br>
             <input type="radio" class="quiz-category radio-button" name="category" value="other"> Other
            {{!-- <input type="text" id="quiz-category" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text"> --}}
          </div>
          <br>
          <br>
          <div class="form-group">
            <label for="quiz-type"><h4>Quiz Type:</h4></label><br>
             <input type="radio" class="quiz-type" name="quiztype" value="t/r" > True/False<br>
             <input type="radio" class="quiz-type" name="quiztype" value="mc"> Multiple Choice<br>
            {{!-- <textarea class="form-control" id="quiz-type" aria-describedby="quiz-description" placeholder="Enter Example Description"></textarea> --}}
          </div>
          <br>
          <div class="form-group">
            <label for="quiz-description">Description</label>
            <textarea name="message" rows="10" cols="30">Quiz Description</textarea>
          </div>
          <br>
          <button id="add-quiz-button" class="dashboard-button">Create Quiz</button>
          
      
        <br>

<div id="question-list">

<div class="questionmaker">
    <label>Question Type:</label>
     <input list="questiontype" name="questiontype">
    <datalist id="questiontype">
    <option value="True/False">
    <option value="Multiple Choice">
  </datalist>
<br>

<label>Question:</label>
<input type="text">
<br>

<div class="choice-box">
<label>Option #1</label><input id="option-1" type="text"><button id="add-choice-button">+</button>
<br>
<label>Option #2</label><input id="option-2" type="text"><button id="add-choice-button">+</button>
</div>

<br>
<button>Save</button>
</div>


</div>
<button id="add-question-button" class="dashboard-button">+ Question</button>

     
  </div>
</div>
<script>

var question_array=[];  

$("#quiz-name").val("{{quiz_name}}");


$("#add-choice-button").on("click", function(){
    var newoption="<label>Option #"+(optionsarray.length+1)+"</label><input type='text'><br>"
    optionsarray.push(newoption);
    $(".choice-box").append(optionsarray[optionsarray.length-1]);

    
})

$("#add-quiz-button").on("click", function(){
  console.log("Create Quiz");
   var newquiz={
     quiz_name:$("#quiz-name").val()
   }
   console.log(newquiz.quiz_name);
 $.post("/api/addquiz", newquiz, function() {
    
    });
  
});

>>>>>>> 5a57f10764e3c2f17c7ddf55c6333f2debd8a7f8

$("#add-question-button").on("click", function(){
    console.log("appending");
$("#question-list").append("<div class='questionmaker'><label>Question Type:</label><input list='questiontype' name='questiontype'><datalist id='questiontype'><option value='True/False'><option value='Multiple Choice'></datalist><br><label>Question:</label><input type='text'><br><label>Option #1</label><input type='text'><button>+</button><br><button>Add Question</button></div>");
  
});
</script>


