<h1>This will show the quiz</h1>

<table>
     <tr>
    <th>Question</th>
    <th>ID</th>
    <th>Date Created</th> 
    <th>Invitees</th>
    <th></th>
  </tr>
 {{#each question}}
 {{!-- <tr>
  <td><a href="/quiz/{{id}}">{{quiz_name}}</a></td> --}}
 <tr id={{id}}>
  <td><a href="/quiz/{{id}}" data-quizid={{id}}  onclick="updateQuiz({{id}})" >{{question}}</a></td>
    <td>{{id}}</td> 
    <td>{{createdAt}}</td> 
    {{!-- <td><a href="/quiz/{{id}}">{{type}}</a></td> --}}
    <td><img onclick="deleteQuiz({{id}})" id="delete-button" src="/assets/delete-button.svg"></td>
    </tr>
{{/each}}
</table>

{{!-- <script>
      var API = {
    saveQuestion: function(question) {
      return $.ajax({
        headers: {
          "Content-Type": "application/json"
        },
        type: "POST",
        url: "api/questions",
        data: JSON.stringify(question)
      });
    },
    getQuestion: function() {
      return $.ajax({
        url: "api/questions",
        type: "GET"
      });
    },
    deleteQuestion: function(id) {
      return $.ajax({
        url: "api/questions/" + id,
        type: "DELETE"
      });
    }
  };

  var refreshQuestions = function() {
  API.getQuestion().then(function(data) {
    var $question = data.map(function(question) {
      var $a = $("<a>")
        .text(question.question_name)
        .attr("href", "/example/" + question.id);

      var $li = $("<li>")
        .attr({
          class: "list-group-item",
          "data-id": question.id
        })
        .append($a);

      var $button = $("<button>")
        .addClass("btn btn-danger float-right delete")
        .text("ｘ");

      $li.append($button);

      return $li;
    });

    $exampleList.empty();
    $exampleList.append($question);
  });
};
</script> --}}